@import url("css/main.css");
@import url("css/menu.css");
@import url("css/hero.css");
@import url("css/experiencia.css");
@import url("css/projetos.css");
@import url("css/repositorios.css");
@import url("css/rodape.css");

/* Cores específicas para cada seção (apenas no TÍTULO) */
#sobre .section-title {
    color: var(--color-sobre);
}

#stack .section-title {
    color: var(--color-stack);
}

#projetos .section-title {
    color: var(--color-projetos);
}

#experiencias .section-title {
    color: var(--color-experiencia);
}

#educacao .section-title {
    color: var(--color-educacao);
}

#contato .section-title {
    color: var(--color-contato);
}

/* =========================================
    CARDS (Projetos, Experiências, etc.)
========================================== */

.card {
    background-color: #111; /* ou #1a1a1a para um cinza mais claro */
    border: 1px solid #222;
    border-radius: 8px;
    color: #f8f8f8;
    transition: transform 0.3s ease;
}

/* Layout responsivo para telas menores */
@media (max-width: 768px) {
    .section-content {
        max-width: 100%;
    }
    .section-subtitle {
        margin-bottom: 1rem;
        word-wrap: break-word;
        max-width: 80vw;
        white-space: break-spaces;
    }
    .hero-container {
        width: 100%;
        flex-direction: column-reverse;
    }
    .hero-text {
        max-width: 100%;
    }
    .hero-image {
        max-width: 100%;
    }
    .hero-image .profile-photo {
        width: 120px;
        height: 120px;
        border: 4px solid #fff;
    }
}